<div class="main-layout text-center" fxLayout="column">
  <div class="page-title" fxFlex="0 1 30px">
    <h1 class="mat-display-1" >Authentification:</h1>
  </div>
  <div class="margin" fxFlex="0 1 calc(100% - 30px)" fxFlex.lt-sm="0 1 calc(100% - 30px)" fxLayout="row" >
    <div fxFlex="2 2 10em" fxFlex.lt-lg="1 1 5em" fxHide.lt-sm="true"></div>
    <div fxFlex="4 4 20em" fxFlex.lt-lg="5 5 25em" fxHide.lt-md="true" fxLayout="column" fxLayoutAlign="center">
      <img alt="People login into an account" src="../../../assets/img/login.svg">
    </div>
    <div fxFlex="4 4 20em" fxFlex.lt-lg="5 5 25em" fxFlex.lt-md="2 2 10em" fxLayout="column"
         fxLayoutAlign="center">
      <mat-tab-group backgroundColor="primary" class="mat-elevation-z8 margin" color="primary"
                     dynamicHeight="true"
      >
        <mat-tab label="Se connecter">
          <app-signin></app-signin>
        </mat-tab>
        <mat-tab label="S'inscrire">
          <app-register></app-register>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div fxFlex="2 2 10em" fxFlex.lt-lg="1 1 5em" fxHide.lt-sm="true"></div>
  </div>


</div>



