<div class="main-layout"
     fxLayout="column"
>

  <div class="centered-content-layout">

    <h1 class="title">Informations envoyées</h1>

  </div>

  <div class="centered-content-layout">
    <p class="text centered">
      Bravo, les informations que vous nous avez fourni viennent d'être envoyées
      au propriétaire de l'objet. Dès que celui ci aura effectué le paiement,
      vous serez recontacté.
    </p>

  </div>

  <div class="centered-content-layout">

    <p class="text centered">
      Si le concept <span class="inline-brand">QueyRing</span> vous a séduit,
      vous pouvez vous procurer gratuitement l'un de nos porte-clés auprès de
      notre partenaire <span class="inline-brand">Mines Nancy</span>.
    </p>

  </div>

  <div class="centered-content-layout">

    <p class="text centered">
      L'équipe <span class="inline-brand">QueyRing</span> vous remercie.
    </p>

  </div>

  <div class="centered-content-layout"
       fxLayout="column"
       fxLayoutAlign="center center"
  >

    <app-black-button (click)="onBackHome()"
                      text="Retourner à l'accueil">

    </app-black-button>

  </div>

</div>



