<mat-card class="item-card">
  <mat-card-title>Object n° {{index}}:</mat-card-title>
  <mat-card-content fxLayout="column">
    <div>Identifiant objet: {{item.itemId}}</div>
    <div>Clé de l'objet: {{item.itemPass}}</div>
    <div>Description de l'objet: {{item.itemDescription}}</div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onDelete()" class="btn btn-danger" color="primary"
            mat-stroked-button
            type="button">
      Supprimer
    </button>
  </mat-card-actions>
</mat-card>
