<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Mes transactions
        </mat-panel-title>
        <mat-panel-description>
            Suivre l'état de vos transactions en cours
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row wrap"
         fxLayoutGap="16px grid"
         fxLayoutAlign="space-around center">


        <div *ngFor="let transaction of listTransactions; let i = index ">
            <app-single-transaction [index]="i+1"
                                    [transaction]="transaction"></app-single-transaction>
            <br><br>
        </div>
        <div *ngIf="listTransactions.length%2 === 1" class="fake-card"></div>
    </div>
    <p *ngIf="listTransactions.length===0">Vous n'avez pas encore de
        transactions effectuées</p>

</mat-expansion-panel>