    <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Données personelles
        </mat-panel-title>
        <mat-panel-description>
            Consultez et modifiez vos données personelles
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
        <mat-list-item *ngIf="(email$ | async) as email; else email_loading">
            email: {{email}}<br>
        </mat-list-item>
        <ng-template #email_loading>
            Chargement en cours ...
        </ng-template>

        <mat-list-item *ngIf="(firstName$ | async) as firstName; else firstname_loading">
            firstname: {{firstName}}<br>
        </mat-list-item>
        <ng-template #firstname_loading>
            Chargement en cours ...
        </ng-template>

        <mat-list-item *ngIf="(lastName$ | async) as lastName; else lastname_loading">
            lastname: {{lastName}}<br>
        </mat-list-item>
        <ng-template #lastname_loading>
            Chargement en cours ...
        </ng-template>

        <mat-list-item *ngIf="(phone$ | async) as phone; else phone_loading">
            phone number: {{phone}}<br>
        </mat-list-item>
        <ng-template #phone_loading>
            Chargement en cours ...
        </ng-template>

        <mat-list-item *ngIf="(role$ | async) as role; else role_loading">
            role: {{role}}
        </mat-list-item>
        <ng-template #role_loading>
            Chargement en cours ...
        </ng-template>
    </mat-list>

</mat-expansion-panel>
