<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Mes objets
        </mat-panel-title>
        <mat-panel-description>
            Retrouvez l'ensemble de vos objets enregistrés
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row wrap"
         fxLayoutGap="16px grid"
         fxLayoutAlign="space-around center"
    >

        <div *ngFor="let item of listItems; let i = index">
            <app-item [index]="i+1" [item]="item"></app-item>
        </div>
        <div *ngIf="listItems.length%2 === 1" class="fake-card">
        </div>

    </div>

    <p *ngIf="listItems.length === 0">Vous n'avez pas encore d'objets</p>

    <!-- Add a new item -->
    <button mat-button (click)="onAdd()">Ajouter un objet</button>
</mat-expansion-panel>