<div class="main-layout" fxLayout="column">

    <!-- Title section -->
    <section class="page-title grid-cell"
             fxLayout="column"
             fxLayoutAlign="center"
    >
        <h1 class="mat-display-1 no-margin">Bienvenue sur QueyRing.com</h1>
        <h2 class="mat-subheading-2">Ne plus jamais rien perdre</h2>
    </section>

    <div class="grid">
        <div class="grid-content">
            <!-- Register section -->
            <section class="grid-cell-6-desktop grid-cell-8-tablet grid-cell-4-phone" fxLayout="column" fxLayoutAlign="center">
                <h1 class="mat-title text-center">J'enregistre mon QueyRing:</h1>
                <div class="mat-body margin text-center">
                    Vous venez de faire l'acquisition d'un de nos porte clés
                    QueyRing?
                    Vous souhaitez l'enregister afin
                    d'être sûr de ne plus jamais perdre l'objet que vous lui
                    associé?
                    Cliquez sur le bouton ci-dessous et nous vous guiderons pas à
                    pas.

                </div>
                <div class="grid-content">
                    <div class="grid-cell-2-desktop grid-cell-1-tablet grid-cell-1-phone"></div>
                    <a (click)="onRegisterItemClick()"
                       class="grid-cell-8-desktop grid-cell-6-tablet grid-cell-2-phone margin"
                       color="accent"
                        mat-raised-button
                    >
                        ENREGISTRER
                    </a>
                    <div class="grid-cell-2-desktop grid-cell-1-tablet grid-cell-1-phone"></div>
                </div>
            </section>

            <!-- Find section -->
            <section class="grid-cell-6-desktop grid-cell-8-tablet grid-cell-4-phone" fxLayout="column" fxLayoutAlign="center">
                <h1 class="mat-title text-center">J'ai trouvé un QueyRing:</h1>
                <div class="mat-body margin text-center">
                    Vous avez trouvé l'un de nos porte clés QueyRing. Vous shouaitez
                    le
                    restituer à son propriétaire tout en étant récompensé pour ce
                    geste?
                    Cliquez sur le bouton ci-dessous et nous vous guiderons pas à
                    pas
                    dans ce processus.
                </div>
                <div class="grid-content">
                    <div class="grid-cell-2-desktop grid-cell-1-tablet grid-cell-1-phone"></div>
                    <a (click)="onFindClick()" class="grid-cell-8-desktop grid-cell-6-tablet grid-cell-2-phone margin"
                       color="accent"
                       mat-raised-button
                    >
                        RESTITUER
                    </a>
                    <div class="grid-cell-2-desktop grid-cell-1-tablet grid-cell-1-phone">
<!--                        <div class="give-key"></div>-->
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Security section -->
    <div class="grid">
        <section class="grid-content">
            <div class="grid-cell-2-desktop"></div>
            <div class="grid-cell-2-desktop">
                <img alt="Padlock" src="../../../assets/img/padlock-308589.svg">
            </div>
            <div class="grid-cell-6-desktop" fxLayout="column" fxLayoutAlign="center">
                <h5 class="mat-headline">Sécurisé</h5>
                <p class="mat-body">
                    QueyRing vous assure d'entrer en contact avec la personne qui a trouvé
                    votre objet en toute sécurité. Aucunes données personnelles ne sont
                    transmises au trouveur.
                </p>
            </div>

            <div class="grid-cell-2-desktop"></div>
        </section>
    </div>


    <!-- International section -->
    <div class="grid">
        <section class="grid-content">
            <div class="grid-cell-2-desktop"></div>
            <div class="grid-cell-6-desktop" fxLayout="column" fxLayoutAlign="center">
                <h5 class="mat-headline">International</h5>
                <p class="mat-body">
                    QueyRing fonctionne dans plusieurs langues se qui garanti de
                    retrouver son objet même perdu à l'étranger.
                </p>
            </div>
            <div class="grid-cell-2-desktop">
                <img alt="Countries" src="../../../assets/img/countries-1301799.svg">
            </div>
            <div class="grid-cell-2-desktop"></div>
        </section>
    </div>

    <!-- Fast section -->
    <div class="grid">
        <section class="grid-content">
            <div class="grid-cell-2-desktop"></div>
            <div class="grid-cell-2-desktop">
                <img alt="Stopwatch" src="../../../assets/img/stopwatch-25763.svg">
            </div>
            <div class="grid-cell-6-desktop" fxLayout="column" fxLayoutAlign="center">
                <h5 class="mat-headline">Rapide</h5>
                <p class="mat-body">
                    Grâce à son concept innovant, QueyRing vous garantit de
                    récupérer votre bien dans les meilleurs délais. Fini les longues
                    périodes de stress.
                </p>
            </div>
            <div class="grid-cell-2-desktop"></div>
        </section>
    </div>

</div>
