<mat-nav-list fxFlexFill fxLayout="column" fxLayoutGap="20px">
  <mat-list-item>
    <button color="primary" fxFlexFill mat-raised-button routerLink="personal-datas">
      Informations personelles
    </button>
  </mat-list-item>
  <mat-list-item>
    <button color="primary" fxFlexFill mat-raised-button routerLink="items">
      Mes objets
    </button>
  </mat-list-item>
  <mat-list-item>
    <button color="primary" fxFlexFill mat-raised-button routerLink="transactions">
      Mes transactions
    </button>
  </mat-list-item>
</mat-nav-list>
