<div class="main-layout padding"
     fxLayout="column"
>
    <div>
        <h1 class="title">Formulaire de restitution:</h1>
        <p class="text">
            Nous avons localisé le propriétaire de l'objet. Merci de nous fournir
            quelques informations complémentaires pour nous aider à vous mettre
            en relation avec son propriétaire. Cela ne vous prendra que quelques
            minutes.
        </p>
    </div>


    <div>

        <!--<div *ngIf="users.data$ | async as users; else loadingOrError.template">-->
            <!--<div *ngFor="let user of users">-->
                <!--{{ user.name }}-->
            <!--</div>-->
        <!--</div>-->

        <!--<loading-or-error-->
            <!--#loadingOrError-->
            <!--[loadingWrapper]="users"-->
            <!--[errorMessage]="'Error loading the list of users'"-->
        <!--&gt;</loading-or-error>-->

        <div *ngIf="itemOwnerId$.data$ | async; else loadingOrError.template">

            <div class="centered-content-layout">

                <mat-horizontal-stepper linear="false"
                                        class="mat-elevation-z8"
                >

                    <mat-step [stepControl]="finderGroup">
                        <form [formGroup]="finderGroup"
                              fxLayout="column"
                              fxLayoutGap="10px"
                        >
                            <ng-template matStepLabel>Contacts:</ng-template>

                            <p class="text centered">
                                Quelques informations générales sur vous.
                                Ces informations, hormis votre Nom et Prénom, sont
                                succeptible d'être envoyées au propriétaire de
                                l'objet afin qu'il puisse vous contacter.
                            </p>

                            <mat-form-field>
                                <input matInput
                                       placeholder="Nom"
                                       formControlName="lastName"
                                       required
                                >
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput
                                       placeholder="Prénom"
                                       formControlName="firstName"
                                       required
                                >
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput
                                       placeholder="Email"
                                       formControlName="email"
                                       required
                                >
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput
                                       placeholder="N° de téléphone"
                                       formControlName="phone"
                                       required
                                >
                            </mat-form-field>

                            <div>
                                <button mat-raised-button color="accent" matStepperNext>Suivant</button>
                            </div>

                        </form>
                    </mat-step>

                    <mat-step [stepControl]="meetingGroup">

                        <p class="text centered">
                            Quelques informations à propos de l'objet et de
                            vos disponibilités de rencontre pour le restitution
                            de l'objet.
                        </p>

                        <form [formGroup]="meetingGroup"
                              fxLayout="column"
                              fxLayoutGap="10px"
                        >
                            <ng-template matStepLabel>Informations de rencontre
                            </ng-template>

                            <mat-form-field>
                                <mat-label>Description de l'objet</mat-label>
                                <input matInput
                                       placeholder="A quoi ressemble l'objet que vous venez de trouver"
                                       formControlName="itemDescription"
                                       required
                                >
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Informations de rencontre</mat-label>
                    <textarea matInput
                              placeholder="Quand et où êtes vous disponible pour restituer son bien à son propriétaire?"
                              formControlName="meetInformation"
                              required
                    >
                    </textarea>
                            </mat-form-field>

                            <div>
                                <button mat-raised-button color="accent" matStepperNext>Suivant</button>
                            </div>

                        </form>
                    </mat-step>

                    <mat-step [stepControl]="bankingGroup">
                        <form [formGroup]="bankingGroup"
                              fxLayout="column"
                              fxLayoutGap="10px"
                        >
                            <ng-template matStepLabel>Informations de paiement:
                            </ng-template>

                            <p class="text centered">
                                Vos informations bancaires afin de procéder au
                                versement de la récompense une fois l'objet restitué
                                à son propriétaire.
                            </p>

                            <mat-form-field>
                                <input matInput
                                       placeholder="IBAN"
                                       formControlName="iban"
                                       required
                                >
                            </mat-form-field>

                            <div>
                                <button mat-raised-button
                                        type="submit"
                                        color="accent"
                                        (click)="onSubmit()"
                                >Envoyer
                                </button>
                            </div>

                        </form>
                    </mat-step>
                </mat-horizontal-stepper>

            </div>


        </div>

        <app-loading-or-error #loadingOrError
                              [errorMessage]="'Désolé, le QueyRing que vous' +
                          ' demandé n\'est pas encore enregistré dans nos bases'"
                              [loadingWrapper]="itemOwnerId$"
        ></app-loading-or-error>


        <!--<ng-template #not_found>-->
            <!--Sorry, this QueyRing isn't registered yet!-->
        <!--</ng-template>-->

    </div>


</div>


