.main-button {
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    border-width: 5px;
    border-color: Var(--main-color);
    border-style: solid;
    background-color: transparent;
    color: Var(--main-color);
    font-size: 2vw;
    z-index: 3;
}

.main-button-reverse {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    background-color: Var(--main-color);
    color: white;
    font-size: 2.8vw;
    z-index: 3;
    cursor: pointer;
}
