<form (ngSubmit)="onSubmit()"
      [formGroup]="signinForm"
      fxLayout="column"
      class="padding"
>
        <mat-form-field fxFill>
            <input autocomplete="email"
                   class="form-control"
                   formControlName="email"
                   id="email"
                   matInput placeholder="Email"
                   type="text"
            >
            <mat-error
                    *ngFor="let validation of validationService.signinValidationMessage.email">
                <div *ngIf="signinForm.get('email').hasError(validation.type)
               && (signinForm.get('email').dirty || signinForm.get('email').touched)"
                >
                    {{validation.message}}
                </div>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFill>
            <input autocomplete="current-password"
                   class="form-control"
                   formControlName="password"
                   id="password"
                   matInput
                   placeholder="Mot de passe"
                   type="password">
            <mat-error
                    *ngFor="let validation of validationService.signinValidationMessage.email">
                <div *ngIf="signinForm.get('password').hasError(validation.type)
               && (signinForm.get('password').dirty || signinForm.get('password').touched)"
                >
                    {{validation.message}}
                </div>
            </mat-error>
        </mat-form-field>

        <button [disabled]="signinForm.invalid"
                color="accent"
                fxFill
                mat-raised-button
                type="submit"
        >
            CONNEXION
        </button>

    <p [hidden]="!errorMessage" class="alert-text text-center">{{errorMessage}}</p>


</form>



