<form (ngSubmit)="onSubmit()"
      [formGroup]="registerForm"
      fxLayout="column"
      class="padding"
>

    <mat-grid-list cols="2" gutterSize="10px" rowHeight="65px">
        <mat-grid-tile>
            <mat-form-field fxFill>
                <input autocomplete="family-name"
                       class="form-control"
                       formControlName="firstName"
                       id="firstName"
                       matInput
                       placeholder="Prénom"
                       required
                       type="text"
                >
                <mat-error *ngFor="let validation of validationService.registerValidationMessage.firstName"
                >
                    <div *ngIf="registerForm.get('firstName').hasError(validation.type) &&
           (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)"
                    >
                        {{validation.message}}
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <!-- Last Name Field -->
            <mat-form-field fxFill>
                <input autocomplete="given-name"
                       class="form-control"
                       formControlName="lastName"
                       id="lastName"
                       matInput
                       placeholder="Nom"
                       required
                       type="text"
                >
                <mat-error
                        *ngFor="let validation of validationService.registerValidationMessage.lastName">
                    <div *ngIf="registerForm.get('lastName').hasError(validation.type)
               && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)"
                    >
                        {{validation.message}}
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
            <!-- Email field -->
            <mat-form-field fxFill>
                <input autocomplete="email"
                       class="form-control"
                       formControlName="email"
                       id="email"
                       matInput
                       placeholder="Email"
                       required
                       type="text"
                >
                <mat-error
                        *ngFor="let validation of validationService.registerValidationMessage.email">
                    <div *ngIf="registerForm.get('email').hasError(validation.type)
               && (registerForm.get('email').dirty || registerForm.get('email').touched)"
                    >
                        {{validation.message}}
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
            <!-- Phone number field -->
            <mat-form-field fxFill>
                <input autocomplete="tel"
                       class="form-control"
                       formControlName="phoneNumber"
                       id="phoneNumber"
                       matInput
                       placeholder="Numéro de téléphone"
                       required
                       type="text"
                >
                <mat-error
                        *ngFor="let validation of validationService.registerValidationMessage.phoneNumber">
                    <div *ngIf="registerForm.get('phoneNumber').hasError(validation.type)
               && (registerForm.get('phoneNumber').dirty || registerForm.get('phoneNumber').touched)"
                    >
                        {{validation.message}}
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <!-- Password -->
            <mat-form-field fxFill>
                <input [type]="hide1 ? 'password' : 'text'"
                       autocomplete="new-password"
                       class="form-control"
                       formControlName="password"
                       id="password"
                       matInput
                       placeholder="Mot de passe"
                       required
                >
                <button
                        (click)="hide1 = !hide1"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1"
                        mat-icon-button
                        matSuffix
                        type="button"

                >
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                        *ngFor="let validation of validationService.registerValidationMessage.password">
                    <div *ngIf="registerForm.get('password').hasError(validation.type)
               && (registerForm.get('password').dirty || registerForm.get('password').touched)"
                    >
                        {{validation.message}}
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <!-- Check password field -->
            <mat-form-field fxFill>
                <input [type]="hide2 ? 'password' : 'text'"
                       autocomplete="new-password"
                       class="form-control"
                       formControlName="checkPassword"
                       id="checkPassword"
                       matInput
                       placeholder="Confirmer le mot de passe"
                       required
                >
                <button (click)="hide2 = !hide2"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2"
                        mat-icon-button
                        matSuffix
                        type="button"
                >
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                        *ngFor="let validation of validationService.registerValidationMessage.checkPassword">
                    <div *ngIf="registerForm.get('checkPassword').hasError(validation.type)
               && (registerForm.get('checkPassword').dirty || registerForm.get('checkPassword').touched)"
                    >
                        {{validation.message}}
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>

    <!-- Submit button -->
    <button [disabled]="registerForm.invalid"
            color="accent"
            mat-raised-button
            type="submit"
    >
        INSCRIPTION
    </button>

    <div *ngIf="errorMessage" [hidden]="!errorMessage" class="text-center">
        {{errorMessage}}
    </div>

</form>

