<ng-template #template>
  <div *ngIf="loadingWrapper.errorLoading$ | async; else loading"
       class="alert-text centered"
  >
    {{ errorMessage }}
  </div>
  <ng-template #loading
               class="text centered"
  >
    Un instant, nous traitons votre demande ...
  </ng-template>
</ng-template>
