<mat-card class="transaction-card">
  <mat-card-title class="card-header">Transaction n° {{index}}:</mat-card-title>
  <mat-card-content>

    <!--found-->
    <div *ngIf="transaction.state === 'FOUND'">
    <h2>Votre objet a été trouvé:</h2>
      <p>Description: {{transaction.itemDescription}}</p>
    <p>Pour en récupérer la propriété passez tout de suite au paiement</p>
      <button mat-button
              (click)="onPaymentClick()"
      >
        Paiement
      </button>
    </div>

    <div *ngIf="transaction.state === 'PAID'">
    <h2>Votre objet a été trouvé:</h2>
      <p>Description: {{transaction.itemDescription}}</p>
    <h2>Paiement effectué</h2>
    <h2>Informations du trouveur</h2>
      N° de téléphone: {{transaction.finder.phoneNumber}}<br>
      Email: {{transaction.finder.email}}<br>
      Informations de rencontre:{{transaction.meetInformation}}
      <br>
      <button mat-flat-button>Valider la transaction</button>
      <br>
      <button mat-button>Ouvrir un conflit</button>

    </div>



  </mat-card-content>

</mat-card>


