<div class="main-layout"
     fxLayout="column"
>

    <div class="page-title">
        <h1 class="mat-display-1">Identification de l'objet</h1>
    </div>

    <p fxFlex="0 0 70px" class="text-center">
        Afin de pouvoir restituer son bien à son propriétaire, merci de bien
        vouloir
        scanner le porte-clés <span class="inline-brand">QueyRing</span> que
        vous avez trouvé.
        Si vous rencontrez des difficultés à lire le QRCode vous pouvez
        également
        saisir manuellement son code en cliquant ici(@TODO).
    </p>

    <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 1 auto">
        <div fxFlex="1 1 5em"></div>
        <div (resized)="onScanImageResize($event)" class="scan-img" fxFlex="2 2 10em">
            <img  alt="People login into an account" id="scan-img"
                  src="../../assets/img/scan-landscape-final.svg">
        </div>
        <div fxFlex="1 1 5em"></div>
        <zxing-scanner id="scanner" fxFlex="1 1 658px" class="scanner"
                       (scanSuccess)="onScanSuccess($event)"
        >
        </zxing-scanner>

    </div>


    <p class="text-center">
        Placer le porte clés <span class="inline-brand">QueyRing</span>
        devant la caméra.
    </p>

    <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button
                color="accent"
                (click)="onSimulate()"
        >
        Simuler un scan
        </button>
    </div>

</div>












