<div class="main-container" fxLayout="column">
    <app-nav-bar class="navbar" fxFlex="0 0 auto"></app-nav-bar>
    <!--Change the 128px if footer or header become bigger-->
    <div class="content-container" fxFlex="1 0 auto">
        <router-outlet></router-outlet>
    </div>
    <app-footer fxFlex="0 0 auto"></app-footer>
</div>

