<h1 class="page-title">Enregistrer un QueyRing</h1>

<form (ngSubmit)="onSubmit()"
      [formGroup]="addItemForm"

>
  <!-- Object ID Field -->
  <mat-form-field>
      <input autocomplete="family-name"
             class="form-control"
             formControlName="itemId"
             id="itemId"
             matInput
             placeholder="Id de l'objet"
             required
             type="text"
      >
      <mat-error *ngFor="let validation of validationService.addItemValidationMessage.itemId"
      >
        <div *ngIf="addItemForm.get('itemId').hasError(validation.type) &&
           (addItemForm.get('itemId').dirty || addItemForm.get('itemId').touched)"
        >
          {{validation.message}}
        </div>
      </mat-error>
    </mat-form-field>

  <!-- Object pass Field -->
  <mat-form-field>
    <input class="form-control"
           formControlName="itemPass"
           id="itemPass"
           matInput placeholder="Clé de l'objet"
           required
           type="text"
    >
    <mat-error *ngFor="let validation of validationService.addItemValidationMessage.itemPass">
      <div *ngIf="addItemForm.get('itemPass').hasError(validation.type)
               && (addItemForm.get('itemPass').dirty || addItemForm.get('itemPass').touched)"
           class="alert alert-danger">
        {{validation.message}}
      </div>
    </mat-error>
  </mat-form-field>

  <!-- Object description field -->
  <mat-form-field>
    <input class="form-control"
           formControlName="itemDescription"
           id="itemDescription"
           matInput
           placeholder="Description de l'objet"
           required
           type="text"
    >
    <mat-error *ngFor="let validation of validationService.addItemValidationMessage.itemDescription">
      <div *ngIf="addItemForm.get('itemDescription').hasError(validation.type)
           && (addItemForm.get('itemDescription').dirty || addItemForm.get('itemDescription').touched)"
           class="alert alert-danger">
        {{validation.message}}
      </div>
    </mat-error>
  </mat-form-field>

  <!-- Submit button -->
  <button [disabled]="addItemForm.invalid"
          color="accent"
          mat-raised-button
          type="submit"
  >
    ENREGISTRER
  </button>

  <div *ngIf="errorMessage" [hidden]="!errorMessage" class="text-center">
    {{errorMessage}}
  </div>

</form>
