<mat-toolbar class="mat-elevation-z16 dark-primary-bg" style="z-index: 100">
  <div (click)="onLogoClick()" class="mat-display-1 text-white no-margin">
    QueyRing.com
  </div>
  <div></div>

  <a (click)="onPersonalAreaClick()"
     aria-label="User profile"
     class="profile-button text-white"
     mat-icon-button>
    <mat-icon class="profile-icon">account_circle</mat-icon>
  </a>

  <a (click)="onLogOut()"
     *ngIf="authService.isLoggedIn()"
     aria-label="Log out"
     class="profile-button text-white"
     mat-icon-button>
    <mat-icon class="profile-icon">logout</mat-icon>
  </a>

  <div class="breakpoint-indicator"></div>

</mat-toolbar>




<!--<app-breadcrumb></app-breadcrumb> TODO: Think about using or not breadcrumb   -->
