@import '../../../assets/breakpoints';

.profile-button {
    min-width: 48px;
    min-height: 48px;
    margin-left: 4px;
}

.profile-icon {
    font-size: 32px;
}

.breakpoint-indicator{
    background-color: red;
    z-index: 1000;
    width: 10px;
    height: 10px;
    @include sm{
        background-color: pink;
    }
    @include md{
        background-color: orange;
    }
    @include lg{
        background-color: blue;
    }
    @include xl{
        background-color: green;
    }
}

