<h1>Procéder au paiement</h1>
<p>A la suite du paiement vous aurez accès aux informations vous permettant de récupérer votre bien</p>
<button type="button"
        class="btn btn-success"
        (click)="onPaymentClick()"
>
    Paiement accepté
</button>

<button type="button"
        class="btn btn-danger"
        (click)="onPaymentClick()"
>
    Erreur de paiement
</button>
