<h1 class="page-title">
  The wanted ressource doesn't exist
</h1>

<div class="grid">
  <div class="grid-content">
    <div class="grid-cell-6 test">1</div>
    <div class="grid-cell-6 test">2</div>
  </div>
</div>
