<h1 class="page-title">Mon profil</h1>
<div class="main-layout"
     fxFlexFill
     fxLayout="column"
>
    <div class="centered-content-layout">

        <div class="title"
             *ngIf="(firstname$ | async)  && (lastname$ | async); else loading">
            {{firstname$ | async}} {{lastname$ | async}}
        </div>

        <ng-template #loading>Chargement en cours...</ng-template>


    </div>

    <div class="centered-content-layout">
        <app-personal-datas></app-personal-datas>
    </div>

    <div class="centered-content-layout">
        <app-item-list></app-item-list>

    </div>

    <div class="centered-content-layout">
        <app-transactions-list></app-transactions-list>
    </div>


</div>



