// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 960px;

// Tablets and small desktops
$screen-lg-min: 1280px;

// Large tablets and desktops
$screen-xl-min: 1920px;

// Small devices
@mixin xs {
  @media (max-width: #{$screen-sm-min}-1) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

//xs	'screen and (max-width: 599px)'
//sm	'screen and (min-width: 600px) and (max-width: 959px)'
//md	'screen and (min-width: 960px) and (max-width: 1279px)'
//lg	'screen and (min-width: 1280px) and (max-width: 1919px)'
//xl	'screen and (min-width: 1920px) and (max-width: 5000px)'
//lt-sm	'screen and (max-width: 599px)'
//lt-md	'screen and (max-width: 959px)'
//lt-lg	'screen and (max-width: 1279px)'
//lt-xl	'screen and (max-width: 1919px)'
//gt-xs	'screen and (min-width: 600px)'
//gt-sm	'screen and (min-width: 960px)'
//gt-md	'screen and (min-width: 1280px)'
//gt-lg	'screen and (min-width: 1920px)'
