@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Lobster|Anton|Cardo|Cormorant+Garamond|Lora|Merriweather|Noticia+Text|PT+Serif|Prata&display=swap');

//@include mat-core();

$queyring-app-primary: mat-palette($mat-teal, 500, 200, 700);

$queyring-app-accent:  mat-palette($mat-brown, 400, 200, 700);

$queyring-app-warn:    mat-palette($mat-red);

$queyring-app-theme: mat-light-theme($queyring-app-primary, $queyring-app-accent, $queyring-app-warn);

@include angular-material-theme($queyring-app-theme);



/* TODO: Define my typography*/
$custom-typography: mat-typography-config(
        $font-family: 'Playfair Display',
        $display-1: mat-typography-level(48px, 56px, 400, 'Cormorant Garamond'),
        $title: mat-typography-level(32px, 48px, 700, 'Playfair Display'),
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(20px, 28px, 400, 'Cardo')
);
//TODO: Typography
// Override the typography in the core CSS.
@include mat-core($custom-typography);
