/* You can add global styles to this file, and also import other style files */

//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/material-theme';
@import 'assets/variables';
@import "assets/breakpoints";
@import "assets/layout-customed/layout-customed";
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//***** Background-colors ****//
$primary: map-get($queyring-app-theme, primary);

.primary-bg {
  background-color: mat-color($primary);
}

.light-primary-bg {
  background-color: mat-color($primary, lighter);
}
.dark-primary-bg {
  background-color: mat-color($primary, darker);
}

$accent: map-get($queyring-app-theme, accent);

.accent-bg {
  background-color: mat-color($accent);
}

.light-accent-bg {
  background-color: mat-color($accent, lighter);
}
.dark-accent-bg {
  background-color: mat-color($accent, darker);
}

//***** Typography *****//
$typo-config: mat-typography-config();


//***** Text-colors ****//
.text-white{
  color: white;
}
.text-black{
  color: black;
}

/** Component styles **/

.main-layout{
  box-sizing: border-box;
  height: 100%;
  &.padding{
    padding: 64px + $margin-small $margin-small 0 $margin-small;
    @include md{
      padding: 64px + $margin-large $margin-large 0 $margin-large;
    }
  }
}

.page-title {
  text-align: center;
  color: white;
  padding: 56px + $margin-small 0 $margin-small 0;
  //height: 192px;
  box-sizing: content-box;
  background-color: mat-color($primary);
  @include mat-elevation(4);
  @include md{
    padding: 64px + $margin-small 0 $margin-small 0;
  }

}



/** Functional general styles **/


//*****Margin/Padding********//
.margin-x{
  margin: 0 $margin-small;

  @include md{
    margin: 0 $margin-large;
  }
}

.padding-x{
  padding: 0 $margin-small;
  @include md{
    padding: 0 $margin-large;
  }
}

.margin-y{
  margin: $margin-small 0;
  @include md{
    margin: $margin-large 0;
  }
}

.padding-y{
  padding: $margin-small 0;
  @include md{
    padding: $margin-large 0;
  }
}

.margin{
  margin: $margin-small;
  @include md{
    margin: $margin-large;
  }
}

.padding{
  padding: $margin-small;
  @include md{
    padding: $margin-large;
  }
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

//***********SIZES***********//
.full-height{
  height: 100%;
}

//****Text position ****//
.text-center{
  text-align: center;
}


//************TEST CLASS **********//
.test{
  border: solid red 3px;
}



