.black-button {
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 20px;
    padding: auto;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

.selected {
    background-color: var(--background-color);
    color: var(--dark-color);
    border: 3px solid var(--dark-color);

}
